<!DOCTYPE html>

<html>

    <head>
        <title>Title Section</title>
        <link rel="stylesheet" href="index.css">

        <meta charset="UTF-8">
        <meta name="description" content="Basic landing page">
        <meta name="keywords" content="landing,index,home">
        <meta name-="author" content="Kiro">


        <!-- <script></script> Uses for layout of JS-->

    </head>

    <body>

        <h1>index.html page</h1>
        <h5><a href="/admin" >Admin Page</a></h5>
    </body>

</html>